.checkout {
  display: flex;
  padding: 20px;
  height: max-content;
  background-color: white;
}
.checkout__left {
  flex: 1;
}
.checkout__ad {
  width: 100%;
  text-align: center;
}
.checkout__ad > img {
  max-width: 400px;
}

.checkout__title {
  margin: 20px 0;
}
